/* ------------------------ BEGIN SECONDARY NAVI------------------------*/

			/*	 
				(nav001) Thematic priorities
				(nav002) Corporate Justice at European Level
				(nav003) Get involved
				(nav004) Newsletter subscription
				(nav005) Search
			*/
			
			/* (nav001) Intranet */
			li#nav001
			{
				background-image: url(img/es/nav001over.gif); z-index: 5 !important;
				left: 0;
			}
			li#nav001.active { background-image: url(img/es/nav001active.gif); }
			
			li#nav001.active:hover { background-image: url(img/es/nav001over.gif); }
			li#nav001 a { background-image: url(img/es/nav001.gif); }
			li#nav001:hover a, li#nav001 a:hover, li#nav001.active a, li#nav001 li, li#nav001 li a { background-image: none; }
			
			/* (nav002) Thematic priorities */
			li#nav002
			{
				background-image: url(img/es/nav002over.gif); z-index: 4 !important;
				left: 95px;
			}
			li#nav002.active { background-image: url(img/es/nav002active.gif); }
			li#nav002.active:hover { background-image: url(img/es/nav002over.gif); }
			li#nav002 a { background-image: url(img/es/nav002.gif); }
			li#nav002:hover a, li#nav002 a:hover, li#nav002.active a, li#nav002 li, li#nav002 li a { background-image: none; }
			
			/* (nav003) Corporate Justice at European Level */
			li#nav003
			{
				background-image: url(img/es/nav003over.gif); z-index: 3 !important;
				left: 190px;
			}
			li#nav003.active { background-image: url(img/es/nav003active.gif); }
			li#nav003.active:hover { background-image: url(img/es/nav003over.gif); }
			li#nav003 a { background-image: url(img/es/nav003.gif); }
			li#nav003:hover a, li#nav003 a:hover, li#nav003.active a, li#nav003 li, li#nav003 li a { background-image: none; }
			
			/* (nav004) Get involved */
			li#nav004
			{
				background-image: url(img/es/nav004over.gif); z-index: 2 !important;
				left: 285px;
			}
			li#nav004.active { background-image: url(img/es/nav004active.gif); }
			li#nav004.active:hover { background-image: url(img/es/nav004over.gif); }
			li#nav004 a { background-image: url(img/es/nav004.gif); }
			li#nav004:hover a, li#nav004 a:hover, li#nav004.active a, li#nav004 li, li#nav004 li a { background-image: none; }
			
