/* -- CSS definition for ECCJ InternetExplorer --- */

		
			/*	 
				(nav001) Thematic priorities
				(nav002) Corporate Justice at European Level
				(nav003) Get involved
				(nav004) Newsletter subscription
				(nav005) Search
			*/
			

		/* (nav001) Thematic priorities */
		li#nav001.active.over { background-image: url(img/de/nav001over.gif); }
		li#nav001.over a { background-image: none; }
		
		/* (nav002) Corporate Justice at European Level */
		li#nav002.active.over { background-image: url(img/de/nav002over.gif); }
		li#nav002.over a { background-image: none; }
		
		/* (nav003) Get involved */
		li#nav003.active.over { background-image: url(img/de/nav003over.gif); }
		li#nav003.over a { background-image: none; }
		
		/* (nav004) Newsletter subscription */
		li#nav004.active.over { background-image: url(img/de/nav004over.gif); }
		li#nav004.over a { background-image: none; }
		
		/* (nav005) Search */
		li#nav005.active.over { background-image: url(img/nav005over.gif); }
		li#nav005.over a { background-image: none; }
		

