/* -- CSS definition for ECCJ InternetExplorer --- */

/* ------------------------ BEGIN LANGUAGE ------------------------*/

ul#language {
	padding:20px 0 0 0;
	line-height:0.8em;
}

/* ------------------------ BEGIN MAIN NAVI------------------------*/

div#mainNavi {
	margin:0 0 0 105px;
}

ul#Navigation {
	width:287px;
}

/* ------------------------ SECONDARY NAVI------------------------*/


		div#navSecondary li#nav001.over,
		div#navSecondary li#nav002.over,
		div#navSecondary li#nav003.over,
		div#navSecondary li#nav004.over {
			background-color: #bec7c9;
		}
		
		div#navSecondary li ul {
			width: 100%;
		}
			
		div#navSecondary li.over ul {
			display: block;
		}
				
		div#navSecondary li li a {
			text-indent: 1px;
		}
		
		div#navSecondary li li {
			width: 70px;
			font-size: .6em;
		}
		

.TwoColumsContainer{
width: 95%;
}
.twoColumnsRight {
width: 175px;	
}
#events_container {
	width:96%;		
}